img.about-page-icon {
    flex: 1;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 24px;
}
.about-page-text {
    flex: 1;
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Karla', sans-serif;
}

.about-page-para {
    display: flex;
    margin-right: 188px;
}

.about-page {
    width: 100%;
    background-color: #ffdec9;
}

.about-page-header {
    display: flex;
    margin-top: 108px;
}

@media (max-width: 1350px) {

    .about-page-text {
        margin-left: 12px;
        margin-right: 12px;
        font-size: 1.3rem;
        margin-left: 24px;
        margin-right: 24px;
    }

    .about-page-para {
        margin-right: unset;
    }
}

@media (max-width: 1050px) {
    .about-page-header {
        flex-direction: column;
        margin-top: unset;
    }

    .about-page-text {
        margin-left: 12px;
        margin-right: 12px;
        font-size: 1.3rem;
        margin-left: 24px;
        margin-right: 24px;
    }

    .about-page-para {
        margin-right: unset;
    }
}

@media (max-width: 800px) {
    .about-page-header {
        flex-direction: column;
        margin-top: unset;
    }

    .about-page-text {
        margin-left: 12px;
        margin-right: 12px;
        font-size: 1rem;
        margin-left: 24px;
        margin-right: 24px;
    }

    .about-page-para {
        margin-right: unset;
    }
}

@media (max-width: 400px) {
    img.about-page-icon {
        margin-left: unset;
        margin-right: unset;
    }
}